*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

} 

.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(10, 0, 0);
    font-size: 8vmin;
    color: darkred;
    background-color: rgb(114, 124, 190);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(13, 13, 13);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(13, 13, 13);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 8vmin;
    color: rgb(131, 233, 14);
}

.msg-contain{
    height: 100vmin;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide{
    display: none;
}